<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949576645162-dtp00nhppb565p16jo8b765ubooq6ot4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949576645162-dtp00nhppb565p16jo8b765ubooq6ot4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>949576645162-781121bld1nuq3kqpilkpe9g3u462ga3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAO6BDkJMBXHf9LOYgfzevOhH5JRqe9UnY</string>
	<key>GCM_SENDER_ID</key>
	<string>949576645162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.communitycheer.gardner-harvesting</string>
	<key>PROJECT_ID</key>
	<string>cheer-app-prototype</string>
	<key>STORAGE_BUCKET</key>
	<string>cheer-app-prototype.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949576645162:ios:899cf0da762e4c27ff6153</string>
	<key>DATABASE_URL</key>
	<string>https://cheer-app-prototype-default-rtdb.firebaseio.com</string>
	<key>NSCameraUsageDescription</key>
    <string>Camera usage is 100% optional. If you would like to upload a photo of your harvest, we need permission to access your camera.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photo library usage is 100% optional. If you would like to upload a photo of your harvest, we need permission to access your photo library.</string>
</dict>
</plist>